.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
    background-color: #f7f7f7;
    
  }
  
  .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: -25px;
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container p {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
  }
  
  .container p:nth-of-type(odd) {
    font-weight: bold;
    color: #0066cc;
  }
  
  .container p:nth-of-type(even) {
    font-style: italic;
    color: #666;
  }
  
  body {
    background: linear-gradient(135deg, #4c63b6, #a15ee8, #4c63b6);
  }
  

  .container div:first-of-type {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }